.add-photo-button {
  width: 100%;
  height: 100%;
  background-color: white;
  color: #262626;
  border-radius: 20px;
  border: none;
  transition: ease-in-out 0.2s;
  font-size: 30px;
  font-weight: bold;
  aspect-ratio: 4/3;
  font-size: 100px;
}

.add-photo-button:hover {
  background-color: rgb(8, 19, 25);
  color: white;
  transition: ease-in-out 0.2s;
}
