.Filters {
  width: 90%;
  margin-top: 50px;
  padding: 20px;
  border-radius: 10px;
  background: rgba(0, 0, 0, 0.5);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(2px);
  margin-bottom: 10px;
  display: grid;
  grid-template-columns: repeat(16, 1fr);
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  z-index: 10;
}

.SearchInput {
  position: relative;
  grid-area: 1 / 2 / 2 / 10;
  width: 100%;
  height: 100%;
}

.SearchInput input {
  color: #262626;
  width: 100%;
  border-radius: 25px;
  padding: 10px 10px 10px 40px;
  border: none;
  outline: none;
  font-size: 15px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  width: 100%;
  height: 100%;
}

.SearchInput img {
  position: absolute;
  aspect-ratio: 1/1;
  width: 30px;
  opacity: 0.7;

  left: 5px;
  top: 50%;
  transform: translateY(-50%);
}

.SelectMenu {
  grid-area: 1 / 13 / 2 / 17;
  position: relative;
}

.SelectMenuTags {
  grid-area: 1 / 10 / 2 / 13;
  position: relative;
}

.SelectButton {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: white;
  border-radius: 25px;
  align-items: center;
  color: #262626;
  padding: 10px 10px 10px 15px;
  text-align: left;
  user-select: none;
  cursor: pointer;
  border: none;
  outline: none;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.SelectButton img {
  position: absolute;
  aspect-ratio: 1/1;
  width: 17px;
  opacity: 0.7;

  right: 10px;
  top: 50%;
  transform: translateY(-50%);
}

.SelectList.active {
  position: absolute;
  left: 0;
  top: 50px;
  list-style: none;
  display: block;
  width: 100%;
  background-color: white;
  padding: 10px;
  border-radius: 25px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  visibility: visible;
}

.SelectList.inactive {
  position: absolute;
  left: 0;
  top: 50px;
  list-style: none;
  display: block;
  width: 80%;
  background-color: white;
  padding: 10px;
  border-radius: 25px;
  visibility: hidden;
  opacity: 0;
}

.SelectList.inactive li {
  opacity: 0;
  visibility: hidden;
}

.SelectList li {
  position: relative;
  display: block;
  list-style: none;
  color: #262626;
  width: 100%;
  border-radius: 10px;
  padding: 10px;
  cursor: pointer;
  user-select: none;
  text-transform: capitalize;
}

.SelectList li input[type="checkbox"] {
  margin-right: 5px;
  cursor: pointer;
}

.SelectList li:hover {
  background-color: #262626;
  color: white;
}

.AddCategory {
  grid-area: 1 / 1 / 2 / 2;
  width: 100%;
  height: 100%;
}

.AddCategory button {
  width: 100%;
  height: 100%;
  background-color: white;
  color: #262626;
  border-radius: 10px;
  border: none;
  transition: ease-in-out 0.2s;
  font-size: 30px;
  font-weight: bold;
}

.AddCategory button:hover {
  background-color: rgb(8, 19, 25);
  color: white;
  transition: ease-in-out 0.2s;
}

.DownloadZip {
  grid-area: 1 / 1 / 2 / 2;
  width: 100%;
  height: 100%;
}

.DownloadZip button {
  width: 100%;
  height: 100%;
  background-color: white;
  color: #262626;
  border-radius: 10px;
  border: none;
  transition: ease-in-out 0.2s;
  font-size: 15px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.DownloadZip button img {
  width: 20px;
  height: 20px;
  transition: ease-in-out 0.2s;
  filter: invert(0%);
}

.DownloadZip button:hover {
  background-color: rgb(8, 19, 25);
  color: white;
  transition: ease-in-out 0.2s;
}

.DownloadZip button:hover img {
  filter: invert(100%);
  transition: ease-in-out 0.2s;
}

.Dates {
  grid-area: 2 / 1 / 2 / 17;
  display: flex;
}

.Date {
  color: #262626;
  display: flex;
  justify-content: left;
  align-items: center;
  margin-right: 10px;
  overflow: hidden;
}

.Date:last-child {
  margin-right: 0;
}

.Date .InputField {
  align-items: center;
  padding: 0 10px;
  background-color: white;
  border-radius: 25px;
  position: relative;
  overflow: hidden;
}

.Date label {
  color: #262626;
}

.Date input {
  padding: 10px 10px 10px 5px;
  outline: none;
  border: none;
  font-size: 15px;
  color: #262626;
}

.From {
  grid-area: 2 / 1 / 2 / 3;
}

@media screen and (max-width: 1140px) {
  #root > div:nth-of-type(3) {
    margin-top: 100px;
  }
}

@media screen and (max-width: 1100px) {
  .Filters {
    width: 100%;
  }
}

@media screen and (max-width: 950px) {
  .SearchInput {
    grid-area: 1 / 1 / 2 / 17;
  }

  .DownloadZip,
  .AddCategory {
    grid-area: 2 / 1 / 3 / 5;
  }

  .SelectMenu {
    grid-area: 2 / 11 / 3 / 17;
  }

  .SelectMenuTags {
    grid-area: 2 / 5 / 3 / 11;
  }

  .Dates {
    grid-area: 3 / 1 / 4 / 17;
  }
}
